{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 110,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all"
}